@page "/AdminUserManagement"
@using BlazorApp1.Data
@using CommonModels.Model
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject AdminUserService AdminUserService

<EditForm Model="@adminuser" OnValidSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator />

    <ValidationSummary />
<h1 style="font-family: Arial, Helvetica, sans-serif; color:#4682B4;">Add a new CMS Administrator</h1>


<p>Note: All fields marked with '*' are required.</p>

<div class="row">
        <div class="form-group col-md-4">
                        <label for="Name"> Full Name *</label>
                        <input form="Name" class="form-control" @bind="@adminuser.Name" aria-describedby="NameHelpBlock"/>
                        <small id="NameHelpBlock" class="form-text text-muted">
  Full name must begin with a capital letter.
</small>
                    </div>
            
        <br>
        <div class="form-group col-md-4">
                        <label for="Email"> Email *</label>
                        <input form="Email" class="form-control" @bind="@adminuser.Email" aria-describedby="emailHelpBlock"/>
                        <small id="emailHelpBlock" class="form-text text-muted">
  Email address must be valid. Eg: JohnSmith@gmail.com
</small>
                    </div>
            
                <div class="form-group col-md-6">
                        <label for="Password"> Password *</label>
                        <input form="Password" class="form-control" @bind="@adminuser.Password" aria-describedby="passwordHelpBlock"/>
                        <small id="passwordHelpBlock" class="form-text text-muted">
  Password must contain 8 Characters including: Upper case, lowercase, symbol and number.
</small>
                    </div>
            </div>

<div class="form-group col-md-6">
    
    
    <label for="Authorize"> Is Authorised? </label>
        <input type="radio" value="Yes" name="@adminuser.Authorize" checked="@(adminuser.Authorize == true)" @onclick="@(()=>adminuser.Authorize = true)" /> Yes
    
    
        <input type="radio" value="No" name="@adminuser.Authorize" checked="@(adminuser.Authorize == false)" @onclick="@(()=>adminuser.Authorize = false)" /> No
    <br>
    @adminuser.Authorize
</div>


                        
                        <button type="submit" class="btn btn-success">
                                <span class="oi oi-circle-check"></span>
                                <a style="color: #FFFFFF" >Submit</a>
                        </button>
                        <button type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel">
                                <span class="oi oi-circle-x"></span>
                                <a style="color: #FFFFFF" >Cancel</a>
                        </button>
                    
</EditForm>

@code {
    [Parameter]
    public string Id{ get; set; }
    AdminUser adminuser = new AdminUser();
    /*protected async Task Login()
    {
        await AdminUserService.Login(int.Parse(Id));
        NavigationManager.NavigateTo("AdminUserList");
    }*/
    private async void HandleValidSubmit() //handles user exception to ensure valid information is entered before saving

    {
        await AdminUserService.SaveAsync(adminuser);
        NavigationManager.NavigateTo("AdminUserList");
        Console.WriteLine("OnValidSubmit");

    }
            void Cancel()
            {
                NavigationManager.NavigateTo("AdminUserList");
            }
}

