@page "/DeleteAdmin/{Id}"
@using CommonModels.Model
@using BlazorApp1.Data
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject AdminService AdminService
<h2>Delete Admin </h2>
@if(admin != null)
{
<p>Are you sure you want to delete your admin profile? </p>
<div class="row">
       <table class="table">
               <tr>
                       <td>FirstName</td>
                       <td>@admin.FirstName </td>
                   </tr>
               <tr>
                       <td>LastName</td>
                       <td>@admin.LastName</td>
                   </tr>
                     <tr>
                       <td>Password</td>
                       <td>@admin.Password</td>
                   </tr>
           </table>
</div>
}
<div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <input type="button" class="btn btn-primary" @onclick="@Delete" value="Delete" />
                        <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
                    </div>
            </div>
</div>
@code {
    [Parameter]
    public string Id{ get; set; }
    Admin admin = new Admin();
    protected override async Task OnInitializedAsync()
    {
        adminuser = await AdminService.GetAdminById(int.Parse(Id));
    }
        
   protected async Task Delete()
    {
        
        await AdminService.DeleteAsync(int.Parse(Id));
        
    }
   