@page "/DocumentSubmission"
@using BlazorApp1.Data
@using CommonModels.Model
@inject DocumentService DocumentService

<h3>Document Submission</h3>
<p>View documents and approve or reject the document</p>
<p>Document Submissions List</p>
<div>
    @if (documents != null)
    {
        <table class="table-bordered">
            <thead>
                <tr>
                    <th width="30%">Email</th>
                    <th width="20%">Title</th>
                    <th width="20%">Time</th>
                    <th width="30%">Img</th>
                    <th width="30%">FileFormat</th>
                    <th width="20%">Comment</th>
                    <th width="20%">Location</th>
                    <th width="20%">Status</th>
                    <th width="20%">Amount</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var p in documents)
                {
                    <tr>
                        <td>@p.Email</td>
                        <td>@p.Title</td>
                        <td>@p.Time</td>
                        <td>@p.Img </td>
                        <td>@p.FileFormat</td>
                        <td>@p.Comment</td>
                        <td>@p.Location</td>
                        <td>@p.Status</td>
                        <td>@p.Amount</td>
                        <td>
                            <a href="/editdevice/@p.Id">Approve</a> |
                            <a href="/deletedevice/@p.Id">Reject</a>
                        </td>
                    </tr>
                }
            </tbody>
            
        </table>
    }
</div>


@code {
    //timestamp for image issue - 12:00...need to create @onclick for image 
    //proper setup to call img link timestamp - 18:16
    private Document[] documents;
    protected override async Task OnInitializedAsync()
    {
      documents = await DocumentService.GetDocumentsAsync();
    }

    /*[Parameter]
    public int Id { get; set; }
    
    
    private string apilink;
   
    protected async Task Save()
    {
        await DocumentService.SaveAsync(document);
    }*/

}
