@page "/DocumentSubmission"
@using BlazorApp1.Data
@using CommonModels.Model
@using Microsoft.JSInterop
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject DocumentService DocumentService

<h1>Document Submission</h1>
<h2>View documents and approve or reject the document</h2>

<h3>Document Submissions List</h3>
<div>
    @if (document != null)
    {
        <table class="table-bordered">
            <thead>
                <tr>
                    <th width="30%">User</th>
                    <th width="20%">Group</th>
                    <th width="20%">Device</th>
                    <th width="20%">SentDateTime</th>
                    <th width="30%">FileFormat</th>
                    <th width="30%">Img</th>
                    <th width="20%">Description</th>
                    <th width="20%">Location</th>
                    <th width="20%">Status</th>
                    <th width="30%">DocType</th>
                    <th width="20%">Amount</th>
                    <th width="30%">Comment</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var p in document)
                {
                    <tr>
                        <td>@p.SentDateTime</td>
                        <td>@p.FileFormat</td>
                        <td>@p.DeviceId</td>
                        <td>@p.Img
                        <a href="">
                            <img src="@( $"https://localhost:44310{document.Img}")">
                            </a>
                        </td>
                        <td>@p.Description</td>
                        <td>@p.Location</td>
                        <td>@p.Status</td>
                        <td>@p.DocType</td>
                        <td>@p.Amount</td>
                        <td>@p.Comment</td>
                        <td>
                            <a href="/editdevice/@p.Id">Arrpove</a> |
                            <a href="/deletedevice/@p.Id">Reject</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


<<<<<<< HEAD
@code {
    protected override async Task OnInitializedAsync()
    {
        document = await DocumentService.GetDocumentsAsync();
    }

     [Parameter]
    public string Id { get; set; }
    Document document = new Document();

=======
@code {//timestamp for image issue - 12:00...need to create @onclick for image 
    //proper setup to call img link timestamp - 18:16
     
    [Parameter]
    public string Id { get; set; }
    Document document = new Document();
    private string apilink;
   
>>>>>>> 99923855ea60d91516c804b9e0497408894d0c36
    protected override async Task OnInitializedAsync()
    {
        //document = await HttpClient.GetAsync<User>("api/user/" + Id);
    }
    
    protected async Task Save()
    {
        await DocumentService.SaveAsync(document);
    }
    void Cancel()
    {
        //NavigationManager.NavigateTo("UserList");
    }
<<<<<<< HEAD
=======

>>>>>>> 99923855ea60d91516c804b9e0497408894d0c36
}
