@page "/EditAdminUser/{Id}"
@using CommonModels.Model
@using BlazorApp1.Data
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject AdminUserService AdminUserService

<EditForm Model="@adminuser" OnValidSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator />

    <ValidationSummary />
<h1 style="font-family: Arial, Helvetica, sans-serif; color:#4682B4;">Edit Admin User</h1>

<div class="row">
        <div class="col-md-6">
                <div class="form-group">
                        <label for="Name">  Name </label>
                        <input form="Name" class="form-control" @bind="@adminuser.Name" aria-describedby="NameHelpBlock"/>
                        <small id="NameHelpBlock" class="form-text text-muted">
  Full name must begin with a capital letter.
</small>
                    </div>
            </div>
        
        <div class="col-md-6">
                <div class="form-group">
                        <label for="Email"> Email </label>
                        <input form="Email" class="form-control" @bind="@adminuser.Email" aria-describedby="emailHelpBlock"/>
                        <small id="emailHelpBlock" class="form-text text-muted">
  Email address must be valid. Eg: JohnSmith@gmail.com
</small>
                    </div>
            </div>
                <div class="col-md-6">
                <div class="form-group">
                        <label for="Password"> Password *</label>
                        <input form="Password" class="form-control" @bind="@adminuser.Password" aria-describedby="passwordHelpBlock"/>
                        <small id="passwordHelpBlock" class="form-text text-muted">
  Password must contain 8 Characters including: Upper case, lowercase, symbol and number.
</small>
                    </div>
            </div>
</div>  
<p>
    Is Authorised?
    <br />
    <label>
        <input type="radio" value="Yes" name="@adminuser.Authorize" checked="@(adminuser.Authorize == true)" @onclick="@(()=>adminuser.Authorize = true)" /> yes
    </label>
    <label>
        <input type="radio" value="No" name="@adminuser.Authorize" checked="@(adminuser.Authorize == false)" @onclick="@(()=>adminuser.Authorize = false)" /> no
    </label>

    <br />
    @adminuser.Authorize
</p>
<button type="submit" class="btn btn-success">
                                <span class="oi oi-circle-check"></span>
                                <a style="color: #FFFFFF" >Submit</a>
                        </button>
                        <button type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel">
                                <span class="oi oi-circle-x"></span>
                                <a style="color: #FFFFFF" >Cancel</a>
                        </button>
</EditForm>

@code {
    [Parameter]
    public string Id{ get; set; }
   AdminUser adminuser = new AdminUser();
    protected override async Task OnInitializedAsync()
    {
        adminuser = await AdminUserService.GetAdminUserById(int.Parse(Id));
    }
    private async void HandleValidSubmit() //handles user exception to ensure valid information is entered before saving

    {
        await AdminUserService.EditAdminUser(adminuser);
        NavigationManager.NavigateTo("AdminUserList");
        Console.WriteLine("OnValidSubmit");

    }
            void Cancel()
            {
                NavigationManager.NavigateTo("AdminUserList");
            }
        }