@page "/EditDevice/{Id}"
@using BlazorApp1.Models
@using CommonModels.Model
@using BlazorApp1.Data
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject DeviceService DeviceService
<h2>Edit Device</h2>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="IMEI">  IMEI *</label>
            <input form="IMEI" class="form-control" @bind="@device.IMEI" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="User"> User *</label>
            @*<input form="User" class="form-control" @bind="@device.User" />*@
            <select class="form-control" @bind="@device.User">
                <option value="">-- Select User --</option>
                @if (usrobj != null)
                {
                    @foreach (var item in usrobj)
                    {
                        <option value="@item.Email">@item.Email</option>

                    }
                }
            </select>


        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Group"> Select Group *</label>
            @*<input form="Group" class="form-control" @bind="@device.Groups" />*@

            <select class="form-control" @bind="@device.Groups">
                <option value="">-- Select Group --</option>
                @if (grobj != null)
                    @foreach (var item in grobj)
                    {
                        <option value="@item.Groups">@item.Groups</option>

                    }
                }
            </select>
        </div>
    </div>
    <p>
        Is Authorised?
        <br />
        <label>
            <input type="radio" value="Yes" name="@device.Authorisation" checked="@(device.Authorisation == true)" @onclick="@(()=>device.Authorisation = true)" /> yes
        </label>
        <label>
            <input type="radio" value="No" name="@device.Authorisation" checked="@(device.Authorisation == false)" @onclick="@(()=>device.Authorisation = false)" /> no
        </label>

        <br />
        @device.Authorisation
    </p>

</div>      
<div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <input type="button" class="btn btn-primary" @onclick="@UpdateDevice" value="Save" />
                        <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
                    </div>
            </div>
</div>
@code {
    [Parameter]
    public string Id{ get; set; }
    Device device = new Device();
    List<GroupsListClass> grobj;
    List<UserListClass> usrobj;

    protected override async Task OnInitializedAsync()
    {
        device = await DeviceService.GetDevicesById(int.Parse(Id));
    }
        protected async Task UpdateDevice()
        {
           
            await DeviceService.EditDevice(device);
            NavigationManager.NavigateTo("DeviceList");
                
            }
            void Cancel()
            {
                NavigationManager.NavigateTo("DeviceList");
            }
        }