@page "/UserManagement"
@using BlazorApp1.Data
@using CommonModels.Model
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject UserService UserService

<h1>User Management</h1>
<h2>Add User</h2>

<EditForm Model="@user" OnValidSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator />

    <ValidationSummary />

<div class="row">
        <div class="col-md-6">
                <div class="form-group">
                        <label for="Name">  Name *</label>
                        <input form="Name" class="form-control" @bind="@user.Name" />
                    </div>
            </div>
        
        <div class="col-md-6">
                <div class="form-group">
                        <label for="Email"> Email *</label>
                        <input form="Email" class="form-control" @bind="@user.Email" />
                    </div>
            </div>
        <div class="col-md-6">
                <div class="form-group">
                        <label for="Telephone"> Telephone *</label>
                        <input form="Telephone" class="form-control" @bind="@user.Telephone"/>
                    </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                        <label for="EmpId"> Employee_ID *</label>
                        <input form="EmpId" class="form-control" @bind="@user.EmpId" />
                    </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                        <label for="Password"> Password *</label>
                         <label for="Password"> Must contain no0-9, uppercase, lower case and non-alphanumeric, length between 8-32</label>
                        <input form="Password" class="form-control" @bind="@user.Password" />
                    </div>
            </div>
</div>
<div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <button type="submit">Submit</button>
                        <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
                    </div>
            </div>
</div>
</EditForm>

@code {
    [Parameter]
    public string Id{ get; set; }
    User user = new User();

    private async void HandleValidSubmit() //handles user exception to ensure valid information is entered before saving

    {
       await UserService.SaveAsync(user); 
        NavigationManager.NavigateTo("UserList");
        Console.WriteLine("OnValidSubmit");

    }

    void Cancel()
    {
        NavigationManager.NavigateTo("UserList");
    }

}

